<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.example.healthycheck.plist</string>

    <key>ProgramArguments</key>
    <array>
    <string>/opt/local/bin/bash</string>
    <string>-c</string>
    <!-- <string>/Users/suparupu/bin/healthycheck-daily.sh</string> -->
    <string>/Users/suparupu/StartCalendarInterval/healthycheck-daily.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/suparupu/StartCalendarInterval</string>    
     
    <key>StartCalendarInterval</key>
    <dict>
        <!--Missing arguments are considered wildcards-->
        <key>Hour</key>
        <integer>20</integer>
        <key>Minute</key>
        <integer>14</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/suparupu/StartCalendarInterval/out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/suparupu/StartCalendarInterval/error.log</string>  

</dict>
</plist>