<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.example.healthcheck</string>
    <key>ProgramArguments</key>
    <array>
        <!-- <string>/Users/suparupu/.venv/bin/python</string> -->
            <string>/bin/bash</string>
            <string>-c</string>
        <!-- <string>/Users/suparupu/StartCalendarInterval/main.py</string> -->
        <string>/Users/suparupu/StartCalendarInterval/healthycheck-daily.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/suparupu/StartCalendarInterval</string>    
    <key>StartInterval</key>
    <integer>5</integer>
    <key>StandardOutPath</key>
    <string>/Users/suparupu/StartCalendarInterval/out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/suparupu/StartCalendarInterval/error.log</string>    
</dict>
</plist>